@{
    ViewBag.Title = "List Inquiries";
}

<h2>List Inquiries</h2>
@foreach (var inquiry in Model)
{
    <h2><a href="/Inquiry/Details/@inquiry.InquiryId">@inquiry.PetName - @inquiry.Username</a></h2>
    <div>Pet Name: @inquiry.PetName</div>
    <div>Username: @inquiry.Username</div>
    <div>Inquiry Text: @inquiry.InquiryText</div>
}
